PG_BUILD_CONCURRENCY=16
PG_CLIENT_PORT=3000
PG_CLIENT_URLS=http://localhost,https://beta.solpg.io
PG_DB_NAME=solpg
PG_DB_URI=mongodb://db:27017
PG_LSP_CONCURRENCY=4
PG_LSP_CPU_LIMIT=1
PG_LSP_IDLE_TIMEOUT=600
PG_LSP_MAX_LIFETIME=14400
PG_LSP_MEMORY_LIMIT=4294967296
PG_PAYLOAD_LIMIT=1048576
PG_PORT=8080
PG_SERVER=true
PG_VERBOSE=false
RUST_LOG=error
