[submodule "client/public"]
	path = client/public
	url = https://github.com/solana-playground/assets.git
	branch = master
[submodule "client-v2/public"]
	path = client-v2/public
	url = https://github.com/solana-playground/assets.git
	branch = master
